nav {
  position: absolute;
  left: 20%;
  width: 60%;
  text-align: center;
}
nav #prvs {
  position: absolute;
  width: 25%;
}
nav #current {
  position: absolute;
  border-left: 0px;
  border-right: 0px;
  left: 25%;
  width: 50%;
}
nav #next {
  position: absolute;
  float: right;
  width: 25%;
  left: 75%;
}
.bordered {
  height: 50px;
  border: 5px;
  border-style: solid;
  border-color: black;
}
.calendar {
  position: absolute;
  border: 5px;
  border-style: solid;
  border-color: black;
  border-top: 0;
  top: 68px;
  left: 20%;
  width: 60%;
}
.calHeader {
font-weight: bold ;
}
.nextMounth {
background: #D3D3D3;
}
.prvsMounth {
background: #D3D3D3;
}
#choose {
  background-color: white;
  position: absolute;
  top: 70px;
  left: 40%;
  display: block;
  z-index: 2;
}
#chooseyear {
  background-color: white;
  position: absolute;
  top: 70px;
  left: 50%;
  display: block;
  z-index: 1;
}
