nav {
  position: absolute;
  
  left: 20%;
  width: 20%;
  text-align: center;
}
nav #prvs {
  position: absolute;
  width: 25%;
}
nav #current, nav #current2 {
  position: absolute;
  border-left: 0px;
  border-right: 0px;
  left: 25%;
  width: 50%;
}
nav #next {
  position: absolute;
  float: right;
  width: 25%;
  left: 75%;
}
.bordered {
  height: 50px;
  border: 5px;
  border-style: solid;
  border-color: black;
}
.calendar {
  position: absolute;
  border: 5px;
  border-style: solid;
  border-color: black;
  border-top: 0;
  top: 68px;
  left: 20%;
  width: 20%;
}
.calHeader {
font-weight: bold ;
}
.nextMounth {
background: #D3D3D3;
}
.prvsMounth {
background: #D3D3D3;
}
#choose {
  
  background-color: white;
  position: absolute;
  border: 5px;
  border-style: solid;
  border-color: black;
  border-top: 0;
  top: 60px;
  height: 186px;
  width: 100%;
  display: block;
  z-index: 1;
}
#choose table{height:186px; width:100%}
#choose table * td {width:25%}
#chooseyear {
  background-color: white;
  position: absolute;
  top: 60px;
  width: 100%;

  display: block;
  z-index: 2;
}
